@import 'tailwindcss';

body {
	margin: 0;
	font-family: Comic Sans MS, system-ui, -apple-system, sans-serif;
	background: linear-gradient(to bottom, #fff1f2, #fce7f3);
	min-height: 100dvh;
}

.heart-bg::before {
	content: '❤️';
	position: absolute;
	font-size: 8rem;
	opacity: 0.08;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

html {
	scroll-behavior: smooth;
}

/* Global Scrollbar Styling */
::-webkit-scrollbar {
	width: 8px; /* Adjust width */
}

::-webkit-scrollbar-thumb {
	@apply bg-blue-400 rounded-xl;
}

::-webkit-scrollbar-track {
	@apply bg-white;
}

.thin-scroll::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
